---
// eslint-disable-next-line import/no-relative-parent-imports,no-restricted-imports
import '../../styles/global.css'
import LanguageSwitcher from '~/src/components/LanguageSwitcher.astro'
import { i18nConfig } from '~/i18n.config'
import { t } from '~/translations'
import {FileSystemTeamRepository} from "~/modules/Team/Infrastructure/FileSystemTeamRepository"
import {GetTeams} from "~/modules/Team/Application/GetTeams/GetTeams"

const lang = Astro.url.pathname.split('/')[1] as typeof i18nConfig.locales[number]

const getTeams = new GetTeams(new FileSystemTeamRepository())

const teams = await getTeams.get({
  pageNumber: 2,
  pageSize: 12,
  sortOption: 'lastWin',
  sortOrder: 'desc',
})

if (!teams.success) {
  // redirect 404?
  return new Response('Competition not found', { status: 404 })
}
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <p>{JSON.stringify(teams.value)}</p>
    <h1>{t(lang, 'home_page_title')}</h1>
    <LanguageSwitcher currentLang={lang} />
  </body>
</html>
